# Frontend Environment Variables
NEXT_PUBLIC_API_URL=https://be-filler-server.onrender.com
NEXT_PUBLIC_SECRET_KEY=your_secret_key_here
NEXT_PUBLIC_YT_API=your_youtube_api_key_here
NEXT_PUBLIC_PASSWORD_USER=your_password_here

# Next.js Configuration
NEXT_TELEMETRY_DISABLED=1
